<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuanfeiyang.erp.dao.UserRoleDao">
	
	<sql id="_column_list">
		ID, USER_ID, ROLE_ID, CREATED_TIME, LAST_UPDATED_TIME
	</sql>
	
	<select id="load" resultType="UserRole" parameterType="java.lang.Integer">
		select
		<include refid="_column_list" />
		from USER_ROLES
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	
	<select id="findRolesByUserId" resultType="Role" parameterType="java.lang.Integer">
		select
		r.*
		from USER_ROLES ur
		left join ROLES r on ur.ROLE_ID = r.ID
		where USER_ID = #{userId,jdbcType=DECIMAL}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from USER_ROLES
		where ID = #{id,jdbcType=DECIMAL}
	</delete>
	
	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from USER_ROLES
		where USER_ID = #{userId,jdbcType=DECIMAL}
	</delete>
	
	<delete id="deleteByRoleId" parameterType="java.lang.Integer">
		delete from USER_ROLES
		where ROLE_ID = #{roleId,jdbcType=DECIMAL}
	</delete>
	
	<insert id="insert" parameterType="UserRole">
		insert into USER_ROLES (ID, USER_ID, ROLE_ID,
		CREATED_TIME, LAST_UPDATED_TIME)
		values (SEQ_ROLES.nextval, #{userId,jdbcType=DECIMAL},
		#{roleId,jdbcType=DECIMAL},
		#{createdTime,jdbcType=TIMESTAMP}, #{lastUpdatedTime,jdbcType=TIMESTAMP})
	</insert>
	
	<update id="update" parameterType="UserRole">
		update USER_ROLES
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=DECIMAL},
			</if>
			<if test="roleId != null">
				ROLE_ID = #{roleId,jdbcType=DECIMAL},
			</if>
			<if test="createdTime != null">
				CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdatedTime != null">
				LAST_UPDATED_TIME = #{lastUpdatedTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>
	
	<delete id="deleteByUserIdAndRoleId" parameterType="java.lang.Integer">
		delete from USER_ROLES
		where USER_ID = #{userId,jdbcType=DECIMAL}
		  and ROLE_ID = #{roleId,jdbcType=DECIMAL}
	</delete>
	
</mapper>